In [1]:
import pandas as pd
import matplotlib.pyplot as plt

file = 'IQ Hashtag checks.xlsx'

df_trend = pd.read_excel(file, sheet_name = 'trend')
df_result = pd.read_excel(file, sheet_name = 'result')

<h1> Trend Cleaning </h1>

In [2]:
df_trend.head()

         Name     Trend  IG posts  Used in profile  Last time used
0    #covid19  ↗ 31.96%  28417468              NaN             NaN
1   #lockdown  ↗ 22.43%   8803748              NaN             NaN
2   #covid_19  ↗ 20.03%  14199962              NaN             NaN
3  #lofivibes  ↗ 19.13%    246661              NaN             NaN
4       #2020  ↗ 17.95%  45024297              NaN             NaN

In [3]:
df_trend.dtypes

Name                object
Trend               object
IG posts             int64
Used in profile    float64
Last time used     float64
dtype: object

In [4]:
df_trend['Trend'] = df_trend['Trend'].str.slice_replace(0, 1, '')

In [5]:
df_trend.head()

         Name    Trend  IG posts  Used in profile  Last time used
0    #covid19   31.96%  28417468              NaN             NaN
1   #lockdown   22.43%   8803748              NaN             NaN
2   #covid_19   20.03%  14199962              NaN             NaN
3  #lofivibes   19.13%    246661              NaN             NaN
4       #2020   17.95%  45024297              NaN             NaN

In [6]:
df_trend['Trend'] = df_trend['Trend'].replace(to_replace = '%', value = '', regex=True)

In [7]:
df_trend['Trend'].astype(float)

0     31.96
1     22.43
2     20.03
3     19.13
4     17.95
      ...
95     5.43
96     5.42
97     5.40
98     5.37
99     5.36
Name: Trend, Length: 100, dtype: float64

In [12]:
df_trend = df_trend.iloc[:,0:3]

<h1> Result Cleaning </h1>

In [9]:
df_result.head()

,Name,IG posts,Avg Like,Avg Comment,Used in profile,Last time used
0,#coffeetime,26471697,5559,14,0,NaN
1,#coffeelover,15593950,4834,28,0,NaN
2,#cafe,61044805,13430,35,0,NaN
3,#love,1831886343,293102,10,0,NaN
4,#instagood,1135958719,215832,42,0,NaN

In [10]:
df_result = df_result.iloc[:,0:4]

<h1> Analysis </h1>

In [48]:
#only related to coffee

placeholder_lst = []
for i in df_trend['Name']:
    if "coffee" in i:
        placeholder_lst.append(i)
    elif "kopi" in i:
        placeholder_lst.append(i)
    elif "cafe" in i:
        placeholder_lst.append(i)
      
coffee_trend = df_trend[df_trend['Name'].isin(placeholder_lst)]
no_coffee_trend = df_trend[~df_trend['Name'].isin(placeholder_lst)]

In [49]:
placeholder_lst = []
for i in df_result['Name']:
    if "coffee" in i:
        placeholder_lst.append(i)
    elif "kopi" in i:
        placeholder_lst.append(i)
    elif "cafe" in i:
        placeholder_lst.append(i)

coffee_result = df_result[df_result['Name'].isin(placeholder_lst)]
no_coffee_result = df_result[~df_result['Name'].isin(placeholder_lst)]

<h1>Export</h1>

In [51]:
# export
with pd.ExcelWriter('coffee.xlsx') as writer:  

    coffee_trend.to_excel(writer, sheet_name = 'C-Trend')
    coffee_result.to_excel(writer, sheet_name = 'C-Result')
    no_coffee_trend.to_excel(writer, sheet_name = 'NC-Trend')
    no_coffee_result.to_excel(writer, sheet_name = 'NC-Result')

with pd.ExcelWriter('raw_coffee.xlsx') as writer:  
    df_trend.to_excel(writer, sheet_name='Clean Trend')
    df_result.to_excel(writer, sheet_name='Clean Result')